{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reglement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reglement.id }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ reglement.total }}</td>
            </tr>
            <tr>
                <th>Reste</th>
                <td>{{ reglement.reste }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ reglement.note }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if reglement.createdAt %}{{ reglement.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if reglement.updatedAt %}{{ reglement.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reglement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reglement_edit', { 'id': reglement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
