{% extends 'base.html.twig' %}
{% block title %}{{ parent()~' - Bons de livraison' }}{% endblock %}
{% block body %}
    <div class="container-fluid container-fluid-fixed-top">
        <section class="content-header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a style="cursor: pointer" data-toggle="modal" data-target="#myModal"><span class="fa fa-external-link-square"></span> Sélectionner et convertir en facture</a></li>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Convertion bons de livraison au Facture</h4>
                                    </div>
                                    <div class="modal-body" id='message'>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        <button type="button" id="convertirBtn" class="btn btn-primary" onclick="convertirBlsEnFacture()">Convertir</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <li><a href="{{path('bonlivraison_new')}}"><span class="glyphicon glyphicon-plus"></span> Ajouter</a></li>
                    </ul>
                </div>
            </nav> 
        </section>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="count">
                            {{ pagination.getTotalItemCount }} Bon du livraison
                        </div> 
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-chevron-down"></span> Filtrage</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <form role="form" action="{{path('bonlivraison_index')}}" method="GET">
                                        <div class="row">
                                            <div class="col-sm-6 ">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="code">Code</label>
                                                            <input class="form-control" name="code" id="code" value="{{ app.request.get('code')}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="client">Client</label>
                                                            <select name='client' class="form-control selectpicker" data-live-search="true">
                                                                <option value=""></option>
                                                                {% for client in clients %}
                                                                    <option {% if app.request.get('client')==client.id %}selected{% endif %} value="{{ client.id }}">
                                                                        {{ client }}
                                                                    </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="dateCreation">Date de création</label>
                                                            <div class="input-daterange input-group" id="datepicker">
                                                                <input type="text" class="form-control" value="{{ app.request.get('startDateCreation')}}" name="startDateCreation" />
                                                                <span class="input-group-addon">vers</span>
                                                                <input type="text" class="form-control" value="{{ app.request.get('endDateCreation')}}" name="endDateCreation" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="dateCreation">Date de livraison</label>
                                                            <div class="input-daterange input-group" id="datepicker">
                                                                <input type="text" class="form-control" value="{{ app.request.get('startDateLivraison')}}" name="startDateLivraison" />
                                                                <span class="input-group-addon">vers</span>
                                                                <input type="text" class="form-control" value="{{ app.request.get('endDateLivraison')}}" name="endDateLivraison" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="limit">Nombre d'éléments par page </label>
                                                    <select name='limit' class="form-control selectpicker" data-live-search="true">
                                                        <option {% if app.request.get('limit')=='10' %}selected{% endif %} value="10">10 éléments par page</option>
                                                        <option {% if app.request.get('limit')=='25' %}selected{% endif %} value="25">25 éléments par page</option>
                                                        <option {% if app.request.get('limit')=='50' %}selected{% endif %} value="50">50 éléments par page</option>
                                                        <option {% if app.request.get('limit')=='100' %}selected{% endif %} value="100">100 éléments par page</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <div class="radio">
                                                                    <label>
                                                                        <input {{app.request.get('termine')==2?'checked':''}} type="radio" name="termine" value="2">
                                                                        <em class="label label-success">
                                                                            Terminé
                                                                        </em>
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                        <input {{app.request.get('termine')==1?'checked':''}} type="radio" name="termine" value="1">
                                                                        <em class="label label-warning">
                                                                            En cours
                                                                        </em>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <div class="radio">
                                                                    <label>
                                                                        <input {{app.request.get('regle')==1?'checked':''}} type="radio" name="regle" value="1">
                                                                        <em class="label label-success">
                                                                            Reglé
                                                                        </em>
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                        <input {{app.request.get('regle')==2?'checked':''}} type="radio" name="regle" value="2">
                                                                        <em class="label label-warning">
                                                                            En cours
                                                                        </em>
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                        <input {{app.request.get('regle')==3?'checked':''}} type="radio" name="regle" value="3">
                                                                        <em class="label label-danger">
                                                                            Non reglé
                                                                        </em>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <div class="radio">
                                                                    <label>
                                                                        <input {{app.request.get('facture')==2?'checked':''}} type="radio" name="facture" value="2">
                                                                        <em class="label label-primary">
                                                                            Facturé
                                                                        </em>
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                        <input {{app.request.get('facture')==1?'checked':''}} type="radio" name="facture" value="1">
                                                                        <em class="label label-default">
                                                                            Non facturé
                                                                        </em>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-filter"></span> Filtrer</button>
                                        <a href="{{path('bonlivraison_index')}}" class="btn btn-default"><span class="glyphicon glyphicon-filter"></span> Reinitialiser</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <table width="100%" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Code', 'a.code') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Client', 'clt.code') }}</th>
                                    <th {% if pagination.isSorted('a.termine') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Etat', 'a.termine') }}</th>
                                    <th>Réglé</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Facturé', 'a.converted') }}</th>
                                    <th {% if pagination.isSorted('a.total') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Total', 'a.total') }}</th>
                                    <th {% if pagination.isSorted('a.regle') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Déja réglé', 'a.regle') }}</th>
                                    <th {% if pagination.isSorted('a.reste') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Reste', 'a.reste') }}</th>
                                    <th {% if pagination.isSorted('a.dateCreation') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date de création', 'a.dateCreation') }}</th>
                                    <th {% if pagination.isSorted('a.dateLivraison') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, "Date de livraison", 'a.dateLivraison') }}</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bonlivraison in pagination %}
                                    <tr>
                                        <td>
                                            {% if not bonlivraison.converted %}
                                                {% set blChecked=false %}
                                                {% set bls=app.session.get('bls') %}
                                                {% if bonlivraison.code in bls %}
                                                    {% set blChecked=true %}
                                                {% endif %}
                                                <input {% if blChecked %}checked{% endif %} onclick="checkBl(this, '{{ bonlivraison.code }}',{{ bonlivraison.client.id }} );" type="checkbox" name="{{ bonlivraison.id }}" id="{{ bonlivraison.id }}">
                                            {% else %}
                                                <input disabled="true" title="Cette bon de livraison est converté en facture" type="checkbox">
                                            {% endif %}
                                        </td>
                                        <td>{{ bonlivraison.code }}</td>
                                        <td>
                                            <a href="{{ path('client_show',{'id':bonlivraison.client.id}) }}">{{ bonlivraison.client }}</a>
                                        </td>
                                        <td>
                                            <em class="label label-{{ bonlivraison.termine?'success':'warning' }}">
                                                {{ bonlivraison.termine?'Terminé':'En cours' }}
                                            </em>
                                        </td>
                                        <td>
                                            {% set labelColor='' %}
                                            {% set regleText='' %}
                                            {% if bonlivraison.regle==0 %}
                                                {% set labelColor='danger' %}
                                                {% set regleText='Non reglé' %}
                                            {% elseif bonlivraison.regle==bonlivraison.total %}
                                                {% set labelColor='success' %}
                                                {% set regleText='Reglé' %}
                                            {% elseif bonlivraison.regle<bonlivraison.total %}
                                                {% set labelColor='warning' %}
                                                {% set regleText='en cours' %}
                                            {% endif %}
                                            <em class="label label-{{ labelColor?labelColor:'' }}">
                                                {{ regleText }}
                                            </em>
                                        </td>
                                        <td>
                                            <em class="label label-{{ bonlivraison.converted?'primary':'default' }}">
                                                {{ bonlivraison.converted?'Facturé':'Non facturé' }}
                                            </em>
                                        </td>
                                        <td style="text-align: right">{{ bonlivraison.total|number_format('3','.',' ') }}</td>
                                        <td style="text-align: right">{{ bonlivraison.regle|number_format('3','.',' ') }}</td>
                                        <td style="text-align: right">
                                           {# bonlivraison.reste>=0?(bonlivraison.total- bonlivraison.regle)|number_format(3, '.', ' '):'0.000' #}
                                           {{ bonlivraison.reste>=0?(bonlivraison.reste)|number_format(3, '.', ' '):'0.000' }}
                                        </td>
                                        <td>{{ bonlivraison.dateCreation|date("d/m/Y") }}</td>
                                        <td>{{ bonlivraison.dateLivraison|date("d/m/Y") }}</td>
                                        <td>
                                            <a class="btn btn-success btn-xs" href="{{ path('bonlivraison_show', { 'id': bonlivraison.id }) }}">
                                                <span class="glyphicon glyphicon-eye-open"></span> Afficher
                                            </a>
                                            <a title="Pour modifier ce bon de livraison il faut le terminer" {{ bonlivraison.termine?"disabled onclick='return false'":"" }} class="btn btn-primary btn-xs" href="{{ path('bonlivraison_edit', { 'id': bonlivraison.id }) }}">
                                                <span class="glyphicon glyphicon-edit"></span> Modifier
                                            </a>
                                            <a title="Pour régler ce bon de livraison il faut le terminer" {{ bonlivraison.termine!=true?"disabled onclick='return false'":"" }} class="btn btn-warning btn-xs" href="{{ path('bonlivraison_reglements', { 'id': bonlivraison.id }) }}">
                                                <span class="fa fa-money"></span> Réglements
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-success" href="{{ path('blglobal',{
                                'code':app.request.get('code'),
                                'total':app.request.get('total'),
                                'termine':app.request.get('termine'),
                                'regle':app.request.get('regle'),
                                'facture':app.request.get('facture'),
                                'client':app.request.get('client'),
                                'startDateCreation':app.request.get('startDateCreation'),
                                'endDateCreation':app.request.get('endDateCreation'),
                                'startDateLivraison':app.request.get('startDateLivraison'),
                                'endDateLivraison':app.request.get('endDateLivraison') } )}}" class="btn btn-default">
                            <span class="glyphicon glyphicon-print"></span> Imprimer
                        </a>
                        <a href="{{ path('bonlivraison_export_xls',{
                                'code':app.request.get('code'),
                                'total':app.request.get('total'),
                                'termine':app.request.get('termine'),
                                'regle':app.request.get('regle'),
                                'facture':app.request.get('facture'),
                                'client':app.request.get('client'),
                                'startDateCreation':app.request.get('startDateCreation'),
                                'endDateCreation':app.request.get('endDateCreation'),
                                'startDateLivraison':app.request.get('startDateLivraison'),
                                'endDateLivraison':app.request.get('endDateLivraison') } )}}" class="btn btn-default">
                            <span class="glyphicon glyphicon-download-alt"></span> Exporter en Excel
                        </a>
                    </div>
                </div>
                <!-- totaux -->
                {{ render(controller(
                    'App\\Controller\\BonLivraisonController::totauxBlAction',
                    {
                        'code':app.request.get('code'),
                        'total':app.request.get('total'),
                        'termine':app.request.get('termine'),
                        'regle':app.request.get('regle'),
                        'facture':app.request.get('facture'),
                        'client':app.request.get('client'),
                        'startDateCreation':app.request.get('startDateCreation'),
                        'endDateCreation':app.request.get('endDateCreation'),
                        'startDateLivraison':app.request.get('startDateLivraison'),
                        'endDateLivraison':app.request.get('endDateLivraison')
                    }
                )) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var myVar = setInterval(myTimer, 2000);
        function myTimer() {
            var x = document.readyState;
            if (x === 'complete') {
                document.getElementById('loader').style.display = 'none';
                $('.container-fluid').removeAttr("style");
            }
        }
        function modifierMEssage(obj) {
            if (obj.success) {
                if (obj.bls) {
                    var bls = jQuery.parseJSON(obj.bls);
                    var chaine = "Voulez vous convertir en facture les bons du livraison : <br>";
                    if (bls.length > 0) {
                        for (var i = 0; i < bls.length; i++) {
                            chaine += bls[i] + "<br>";
                        }
                        document.getElementById('message').innerHTML = chaine;
                        document.getElementById('convertirBtn').removeAttribute('disabled');
                    } else {
                        document.getElementById('message').innerHTML = 'Pas du bons de livraison sélectionnés';
                        document.getElementById('convertirBtn').setAttribute('disabled', 'true');
                    }
                }
            } else {
                document.getElementById('message').innerHTML = obj.content;
                document.getElementById('convertirBtn').setAttribute('disabled', 'true');
            }

        }
        jQuery.ajax({
            method: "GET",
            url: "{{ path('getBlsChecked') }}"
        }).done(function (data) {
            var obj = jQuery.parseJSON(JSON.stringify(data));
            modifierMEssage(obj);
        });
        function checkBl(blCheckbox, code, idClient) {
            var checked = blCheckbox.checked;
            if (checked) {
                jQuery.ajax({
                    method: "GET",
                    url: "{{ path('client_session') }}",
                    data: {
                        id: idClient
                    }
                }).done(function (data) {
                    var obj = jQuery.parseJSON(JSON.stringify(data));
                    if (obj.success) {
                        jQuery.ajax({
                            method: "GET",
                            url: "{{ path('addBlToChecked') }}",
                            data: {
                                code: code
                            }
                        }).done(function (data) {
                            var obj = jQuery.parseJSON(JSON.stringify(data));
                            modifierMEssage(obj);
                        });
                    } else {
                        alert(obj.content);
                        blCheckbox.checked = false;
                    }
                });
            } else {
                jQuery.ajax({
                    method: "GET",
                    url: "{{ path('deleteBlFromChecked') }}",
                    data: {
                        code: code
                    }
                }).done(function (data) {
                    var obj = jQuery.parseJSON(JSON.stringify(data));
                    modifierMEssage(obj);
                });
            }


        }

        function convertirBlsEnFacture() {
            jQuery.ajax({
                method: "GET",
                url: "{{ path('convertirBlsEnFacture') }}"
            }).done(function (data) {

                var obj = jQuery.parseJSON(JSON.stringify(data));
                if (obj.success) {
                    window.location.href = "{{ path('facture_index') }}";
                } else {
                    alert(obj.content);
                }
            });
        }

    </script>
{% endblock %}