{% extends 'base.html.twig' %}
{% block title %}{{ parent()~' - Réglements:'~bonlivraison }}{% endblock %}

{% block body %}
    <div class="container-fluid container-fluid-fixed-top">
        <section class="content-header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-left">


                        <li><a href="{{path('bonlivraison_index')}}"><span class="glyphicon glyphicon-align-justify"></span> Liste</a></li>
                        <li><a href="{{ path('bonlivraison_show', { 'id': bonlivraison.id }) }}"><span class="glyphicon glyphicon-eye-open"></span> Afficher</a></li>

                    </ul>
                </div>
            </nav> 
        </section>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="fa fa-money"></span> Liste des règlements du bon de livraison : {{ bonlivraison.code }} de client : {{ bonlivraison.client }}</a>
                        </h4>
                    </div>
                    <!-- /.panel-heading -->
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Montant</th>
                                        <th>Mode règlement</th>
                                        <th>Détails</th>
                                        <th>Note</th>
                                        <th>Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ligneReglement in ligneReglements %}
                                        <tr>
                                            <td>{{ ligneReglement.montant }}</td>
                                            <td>{{ ligneReglement.modeReglement }}</td>
                                            <td>{{ ligneReglement.details }}</td>
                                            <td>{{ ligneReglement.note }}</td>
                                            <td>{{ ligneReglement.dateReglement|date('d-m-Y') }}</td>
                                            <td>
                                                {% if 'Retenu à la source' != ligneReglement.modeReglement %}
                                                    <a class="btn btn-danger btn-xs" href="{{ path('bonlivraison_reglement_delete', { 'id': bonlivraison.id,'idLigneReglement':ligneReglement.id }) }}"><span class="glyphicon glyphicon-remove"></span>  Supprimer</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseAdd"><span class="glyphicon glyphicon-plus"></span> Ajouter un réglement</a>
                        </h4>
                    </div>
                    <!-- /.panel-heading -->
                    <div id="collapseAdd" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    {% if bonlivraison.reste>0 %}
                                        {{ form_start(form) }}
                                        {% form_theme form 'bootstrap_3_layout.html.twig' %}
                                        {{ form_row(form.dateReglement) }}
                                        {{ form_row(form.montant,{'attr':{'onkeyup':'changeMontant(this)','onchange':'changeMontant(this)', 'value':bonlivraison.reste|number_format(3, '.', '')}}) }}
                                        <div class="form-group">
                                            <label class="control-label required" for="appbundle_lignereglement_montant">Reste</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">TND </span>
                                                <input type="text" id="reste" value="0.000" disabled="disabled" class="form-control">
                                            </div>
                                        </div>
                                        <input type="hidden" disabled="disabled" value="{{ bonlivraison.total }}" id="total">
                                        <input type="hidden" disabled="disabled" value="{{ bonlivraison.reste }}" id="restebonlivraison">
                                        {{ form_row(form.modeReglement,{'attr':{'onchange':'changeModeReglement(this)' }}) }}
                                        <div class="row">
                                            <div class="col-sm-6">{{ form_row(form.dateEcheanceCheque) }}</div>
                                            <div class="col-sm-6">{{ form_row(form.numCheque) }}</div>
                                            <div class="col-sm-6">{{ form_row(form.dateEcheanceTraite) }}</div>
                                            <div class="col-sm-6">{{ form_row(form.numTraite) }}</div>
                                            <div class="col-sm-6">{{ form_row(form.compte) }}</div>
                                        </div>
                                        {{ form_row(form.note) }}
                                        <button id="save" type="submit" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
                                        {{ form_end(form) }}
                                    {% endif %}
                                </div>
                                <div class="col-md-4 col-md-offset-2">
                                    <div class="list-group">
                                        <a class="list-group-item">
                                            Total TTC
                                            <span class="pull-right text-muted small"><em id="totalHT">{{ bonlivraison.total|number_format(3, '.', '') }}</em>
                                            </span>
                                        </a>
                                        <a class="list-group-item">
                                            Déja réglé
                                            <span class="pull-right text-muted small"><em id="totalREMISE">{{ bonlivraison.regle|number_format(3, '.', '') }}</em>
                                            </span>
                                        </a>
                                        <a class="list-group-item">
                                            Reste à régler
                                            <span class="pull-right text-muted small"><em id="totalTVA">{{ bonlivraison.reste|number_format(3, '.', '') }}</em>
                                            </span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        document.getElementById('appbundle_lignereglementbonlivraison_dateEcheanceCheque').parentNode.style.display = 'none';
        document.getElementById('appbundle_lignereglementbonlivraison_numCheque').parentNode.style.display = 'none';
        document.getElementById('appbundle_lignereglementbonlivraison_dateEcheanceTraite').parentNode.style.display = 'none';
        document.getElementById('appbundle_lignereglementbonlivraison_numTraite').parentNode.style.display = 'none';
        document.getElementById('appbundle_lignereglementbonlivraison_compte').parentNode.style.display = 'inherit';
        function changeMontant(mnt) {
            if (Number(mnt.value) > Number(document.getElementById('restebonlivraison').value)) {
                mnt.value = Number(parseFloat(document.getElementById('restebonlivraison').value).toFixed(3));
                document.getElementById('reste').value = '0.000';
                return;
            }
            if ((mnt.value.length > 0) && (!isNaN(mnt.value)) && (mnt.value > -1) && (Number(mnt.value) <= Number(document.getElementById('restebonlivraison').value))) {
                var res = Number(parseFloat(document.getElementById('restebonlivraison').value).toFixed(3)) - Number(parseFloat(mnt.value).toFixed(3));
                document.getElementById('reste').value = Number(parseFloat(res).toFixed(3));
            } else {
                mnt.value = '';
                document.getElementById('reste').value = Number(parseFloat(document.getElementById('restebonlivraison').value).toFixed(3));
            }
        }
        function changeModeReglement(select) {
            var selectedOption = select.options[select.selectedIndex].value;
            switch (selectedOption) {
                case 'Espéce':
                    document.getElementById('appbundle_lignereglementbonlivraison_dateEcheanceCheque').parentNode.style.display = 'none';
                    document.getElementById('appbundle_lignereglementbonlivraison_numCheque').parentNode.style.display = 'none';
                    document.getElementById('appbundle_lignereglementbonlivraison_dateEcheanceTraite').parentNode.style.display = 'none';
                    document.getElementById('appbundle_lignereglementbonlivraison_numTraite').parentNode.style.display = 'none';
                    document.getElementById('appbundle_lignereglementbonlivraison_compte').parentNode.style.display = 'inherit';
                    break;
                case 'Chéque':
                    document.getElementById('appbundle_lignereglementbonlivraison_dateEcheanceCheque').parentNode.style.display = 'inherit';
                    document.getElementById('appbundle_lignereglementbonlivraison_numCheque').parentNode.style.display = 'inherit';
                    document.getElementById('appbundle_lignereglementbonlivraison_dateEcheanceTraite').parentNode.style.display = 'none';
                    document.getElementById('appbundle_lignereglementbonlivraison_numTraite').parentNode.style.display = 'none';
                    document.getElementById('appbundle_lignereglementbonlivraison_compte').parentNode.style.display = 'inherit';
                    break;
                case 'Traite':
                    document.getElementById('appbundle_lignereglementbonlivraison_dateEcheanceCheque').parentNode.style.display = 'none';
                    document.getElementById('appbundle_lignereglementbonlivraison_numCheque').parentNode.style.display = 'none';
                    document.getElementById('appbundle_lignereglementbonlivraison_dateEcheanceTraite').parentNode.style.display = 'inherit';
                    document.getElementById('appbundle_lignereglementbonlivraison_numTraite').parentNode.style.display = 'inherit';
                    document.getElementById('appbundle_lignereglementbonlivraison_compte').parentNode.style.display = 'inherit';
                    break;
                case 'Virement':
                    document.getElementById('appbundle_lignereglementbonlivraison_dateEcheanceCheque').parentNode.style.display = 'none';
                    document.getElementById('appbundle_lignereglementbonlivraison_numCheque').parentNode.style.display = 'none';
                    document.getElementById('appbundle_lignereglementbonlivraison_dateEcheanceTraite').parentNode.style.display = 'none';
                    document.getElementById('appbundle_lignereglementbonlivraison_numTraite').parentNode.style.display = 'none';
                    document.getElementById('appbundle_lignereglementbonlivraison_compte').parentNode.style.display = 'inherit';
                    break;
            }

        }
    </script>
{% endblock %}
