{% extends 'base.html.twig' %}
{% block title %}{{ parent()~' - Famille:'~famille }}{% endblock %}

{% block body %}
    <div class="container-fluid container-fluid-fixed-top">
        <section class="content-header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="{{path('famille_index')}}"><span class="glyphicon glyphicon-th-list"></span> Liste</a></li>
                    </ul>
                </div>
            </nav> 
        </section>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Famille {{ famille }}
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
                        {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                        {{ form_end(edit_form) }}
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-danger" data-toggle="modal" data-target="#myModal{{famille.id}}">
                            <span class="glyphicon glyphicon-remove"></span> Supprimer
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal{{famille.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">{{ famille }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        Voulez-vous supprimer ce famille
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        <a href="{{ path('famille_delete', { 'id': famille.id }) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Supprimer</a>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
