{% extends 'base.html.twig' %}
{% block title %}{{ parent()~' - Clients' }}{% endblock %}

{% block body %}
    <div class="container-fluid container-fluid-fixed-top">
        <section class="content-header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="{{path('client_new')}}"><span class="glyphicon glyphicon-plus"></span> Ajouter</a></li>
                    </ul>
                </div>
            </nav> 
        </section>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="count">
                            {{ pagination.getTotalItemCount }} Clients
                        </div> 
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-chevron-down"></span> Filtrage</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <form role="form" action="{{path('client_index')}}" method="GET">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="code">Code</label>
                                                            <input class="form-control" name="code" id="code" value="{{ app.request.get('code')}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="status">Status</label>
                                                            <select name='status' class="form-control selectpicker" data-live-search="true">
                                                                <option></option>
                                                                <option {% if app.request.get('status')=='Client' %}selected{% endif %} value="Client">Client</option>
                                                                <option {% if app.request.get('status')=='Prospect' %}selected{% endif %} value="Prospect">Prospect</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="rs">Raison social</label>
                                                            <input class="form-control" name="rs" id="rs" value="{{ app.request.get('rs')}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="nom">Nom</label>
                                                            <input class="form-control" name="nom" id="nom" value="{{ app.request.get('nom')}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="prenom">Prénom</label>
                                                            <input class="form-control" name="prenom" id="prenom" value="{{ app.request.get('prenom')}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="limit">Nombre d'éléments par page </label>
                                                    <select name='limit' class="form-control selectpicker" data-live-search="true">
                                                        <option {% if app.request.get('limit')=='10' %}selected{% endif %} value="10">10 éléments par page</option>
                                                        <option {% if app.request.get('limit')=='25' %}selected{% endif %} value="25">25 éléments par page</option>
                                                        <option {% if app.request.get('limit')=='50' %}selected{% endif %} value="50">50 éléments par page</option>
                                                        <option {% if app.request.get('limit')=='100' %}selected{% endif %} value="100">100 éléments par page</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-filter"></span> Filtrer</button>
                                        <a href="{{path('client_index')}}" class="btn btn-default"><span class="glyphicon glyphicon-filter"></span> Reinitialiser</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <table width="100%" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(pagination, 'Code', 'a.code') }}</th>
                                    <th {% if pagination.isSorted('a.status') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Status', 'a.status') }}</th>
                                    <th {% if pagination.isSorted('a.rs') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Raison social', 'a.rs') }}</th>
                                    <th {% if pagination.isSorted('a.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom', 'a.nom') }}</th>
                                    <th {% if pagination.isSorted('a.prenom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Prénom', 'a.prenom') }}</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for client in pagination %}
                                    <tr>
                                        <td>{{ client.code }}</td>
                                        <td>{{ client.status }}</td>
                                        <td>{{ client.rs }}</td>
                                        <td>{{ client.nom }}</td>
                                        <td>{{ client.prenom }}</td>
                                        <td>
                                            <a class="btn btn-success btn-xs" href="{{ path('client_show', { 'id': client.id }) }}"><span class="glyphicon glyphicon-eye-open"></span> Afficher</a>
                                            <a class="btn btn-primary btn-xs" href="{{ path('client_edit', { 'id': client.id }) }}"><span class="glyphicon glyphicon-edit"></span> Modifier</a>
                                            {% if not client.passager %}
                                                <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal{{client.id}}">
                                                    <span class="glyphicon glyphicon-remove"></span> Supprimer
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="myModal{{client.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title" id="myModalLabel">{{ client }}</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                Voulez-vous supprimer ce client
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                                <a href="{{ path('client_delete', { 'id': client.id }) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Supprimer</a>
                                                            </div>
                                                        </div>
                                                        <!-- /.modal-content -->
                                                    </div>
                                                    <!-- /.modal-dialog -->
                                                </div>
                                            {% endif %}
                                            <a class="btn btn-info btn-xs" href="{{ path('fiche_client_vente_document',{'id':client.id}) }}"><span class="glyphicon glyphicon-info-sign"></span> Etat client</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="{{ path('client_export_xls',{'code':app.request.get('code'),'status':app.request.get('status'),'rs':app.request.get('rs'),'nom':app.request.get('nom'),'prenom':app.request.get('prenom') } )}}" class="btn btn-default">
                            <span class="glyphicon glyphicon-download-alt"></span> Exporter en Excel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var myVar = setInterval(myTimer, 2000);
        function myTimer() {
            var x = document.readyState;
            if (x === 'complete') {
                document.getElementById('loader').style.display = 'none';
                $('.container-fluid').removeAttr("style");
            }
        }
    </script>
{% endblock %}