{% extends 'base.html.twig' %}
{% block title %}{{ parent()~' - Statistiques sur les clients' }}{% endblock %}
{% block body %}
    <div class="container-fluid container-fluid-fixed-top">
        <section class="content-header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a style="cursor: pointer" data-toggle="modal" data-target="#myModal">
                                <span class="fa fa-bar-chart"></span> Statistique par client
                            </a>
                        </li>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Statistique par client</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form role="form" action="{{path('client_stats_id')}}" method="GET">
                                            <div class="form-group row">
                                                <div class="col-sm-6" id="factures">
                                                    <label for="client">Sélectionner Client</label>
                                                    <select name='id' class="form-control selectpicker" data-live-search="true" title="Clients">
                                                        {% for client in clients %}
                                                            <option value="{{ client.id }}">{{ client }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-info">Statistique de client</button>    
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </ul>
                </div>
            </nav> 
        </section>
        <!-- /.row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-chevron-down"></span> Filtrage</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form role="form" action="{{path('clients_stats')}}" method="GET">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="dateCreation">Date</label>
                                        <div class="input-daterange input-group" id="datepicker">
                                            <input type="text" class="form-control" value="{{ app.request.get('startDateCreation')}}" name="startDateCreation" />
                                            <span class="input-group-addon">vers</span>
                                            <input type="text" class="form-control" value="{{ app.request.get('endDateCreation')}}" name="endDateCreation" />
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-filter"></span> Filtrer</button>
                                <a href="{{path('clients_stats')}}" class="btn btn-default"><span class="glyphicon glyphicon-filter"></span> Reinitialiser</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Les 10 clients les plus vendus
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="chart1" class="chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Les 10 clients à des plus de revenus
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="chart3" class="chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        //______________________________________________________________________les 10 articles les plus vendus
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawChart1);
        let dixClientsPlusVendus = [['', 'Quantité vendus']];
        {% for element in dixClientsPlusVendus %}
            dixClientsPlusVendus.push(['{{element.code1?element.code1:element.code2}}', {{element.qte}}]);
        {% endfor %}
            function drawChart1() {
                google.charts.load('current', {'packages': ['bar']});
                google.charts.setOnLoadCallback(drawStuff);
                function drawStuff() {
                    var data = new google.visualization.arrayToDataTable(dixClientsPlusVendus);
                    var options = {
                        legend: {position: 'none'},
                        chart: {
                            bars: 'vertical', // Required for Material Bar Charts.
                            axes: {
                                x: {
                                    0: {side: 'bottom', label: 'Quantité'} // Top x-axis.
                                }
                            },
                            bar: {groupWidth: "90%"}
                        }
                    };
                    var chart = new google.charts.Bar(document.getElementById('chart1'));
                    chart.draw(data, options);
                }
            }


            //______________________________________________________________________les 10 articles les plus vendus
            google.charts.load('current', {packages: ['corechart', 'bar']});
            google.charts.setOnLoadCallback(drawChart3);
            let dixClientsPlusBenefiques = [['', 'TTC']];
        {% for element in dixClientsPlusBenefiques %}
            dixClientsPlusBenefiques.push(['{{element.code1?element.code1:element.code2}}', {{element.ttc}}]);
        {% endfor %}
            function drawChart3() {
                google.charts.load('current', {'packages': ['bar']});
                google.charts.setOnLoadCallback(drawStuff);
                function drawStuff() {
                    var data = new google.visualization.arrayToDataTable(dixClientsPlusBenefiques);
                    var options = {
                        legend: {position: 'none'},
                        chart: {
                            bars: 'vertical', // Required for Material Bar Charts.
                            axes: {
                                x: {
                                    0: {side: 'bottom', label: 'Quantité'} // Top x-axis.
                                }
                            },
                            bar: {groupWidth: "90%"}
                        }
                    };
                    var chart = new google.charts.Bar(document.getElementById('chart3'));
                    chart.draw(data, options);
                }
            }



            //________________________________________________________________________make charts responsive
            $(window).resize(function () {
                drawChart1();
                drawChart3();
            });
    </script>
{% endblock %}
