{% extends 'base.html.twig' %}
{% block title %}{{ parent()~' - Fournisseur:'~fournisseur }}{% endblock %}
{% block body %}
    <div class="container-fluid container-fluid-fixed-top">
        <section class="content-header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="{{ path('fiche_fournisseur_achat_document',{'id':fournisseur.id}) }}"><span class="glyphicon glyphicon-info-sign"></span> Etat fournisseur</a>
                        </li>
                        <li><a href="{{path('fournisseur_index')}}"><span class="glyphicon glyphicon-th-list"></span> Liste</a></li>
                    </ul>
                </div>
            </nav> 
        </section>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Fournisseur {{ fournisseur }}
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        {{ form_start(edit_form) }}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        Détails
                                    </div>
                                    <div class="panel-body">
                                        {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
                                        {{ form_row(edit_form.code) }}
                                        {{ form_row(edit_form.rs) }}
                                        <div class="row">
                                            <div class="col-sm-6">
                                                {{ form_row(edit_form.mf) }}
                                            </div>
                                            <div class="col-sm-6">
                                                {{ form_row(edit_form.rc) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_row(edit_form.pays) }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ form_row(edit_form.ville) }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ form_row(edit_form.codePostal) }}
                                            </div>
                                        </div>
                                        {{ form_row(edit_form.adresse1) }}
                                        {{ form_row(edit_form.adresse2) }}
                                        {{ form_row(edit_form.adresse3) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        Contact
                                    </div>
                                    <div class="panel-body">
                                        {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
                                        <div class="row">
                                            <div class="col-sm-6">
                                                {{ form_row(edit_form.tel) }}
                                            </div>
                                            <div class="col-sm-6">
                                                {{ form_row(edit_form.tel2) }}
                                            </div>
                                        </div>
                                        {{ form_row(edit_form.mobile) }}
                                        {{ form_row(edit_form.fax) }}
                                        {{ form_row(edit_form.email) }}
                                        {{ form_row(edit_form.siteweb) }}
                                        {{ form_row(edit_form.note) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(edit_form) }}
                        {{ form_end(edit_form) }}
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-danger" data-toggle="modal" data-target="#myModal{{fournisseur.id}}">
                            <span class="glyphicon glyphicon-remove"></span> Supprimer
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal{{fournisseur.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">{{ fournisseur }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        Voulez-vous supprimer ce fournisseur
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        <a href="{{ path('fournisseur_delete', { 'id': fournisseur.id }) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Supprimer</a>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
