{% extends 'base.html.twig' %}
{% block title %}{{ parent()~' - Articles' }}{% endblock %}

{% block body %}
    <div class="container-fluid container-fluid-fixed-top">
        <section class="content-header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="{{path('article_new')}}"><span class="glyphicon glyphicon-plus"></span> Ajouter</a></li>
                    </ul>
                </div>
            </nav> 
        </section>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="count">
                            {{ pagination.getTotalItemCount }} Articles
                        </div> 
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-chevron-down"></span> Filtrage</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <form role="form" action="{{path('article_index')}}" method="GET">
                                        <div class="row">
                                            <div class="col-sm-6 ">
                                                <div class="form-group">
                                                    <label for="code">{% trans %}Code{% endtrans %}</label>
                                                    <input class="form-control" name="code" id="code" value="{{ app.request.get('code')}}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="designation">Désignation</label>
                                                    <input class="form-control" name="designation" id="designation" value="{{ app.request.get('designation')}}">
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label for="categorie">Catégorie</label>
                                                        <select id="appbundle_article_categorie" name='categorie' class="form-control selectpicker" data-live-search="true">
                                                            <option value=""></option>
                                                            {% for categorie in categories %}
                                                                <option {% if app.request.get('categorie')==categorie.id %}selected{% endif %} value="{{ categorie.id }}">{{ categorie.libelle }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label for="famille">Famille</label>
                                                        <select id="appbundle_article_famille" name='famille' class="form-control selectpicker" data-live-search="true">

                                                        </select>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label  for="sousfamille">Sous Famille</label>
                                                        <select id="appbundle_article_sousfamille" name='sousfamille' class="form-control selectpicker" data-live-search="true">
                                                            <option value=""></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="limit">Nombre d'éléments par page </label>
                                                    <select name='limit' class="form-control selectpicker" data-live-search="true">
                                                        <option {% if app.request.get('limit')=='10' %}selected{% endif %} value="10">10 éléments par page</option>
                                                        <option {% if app.request.get('limit')=='25' %}selected{% endif %} value="25">25 éléments par page</option>
                                                        <option {% if app.request.get('limit')=='50' %}selected{% endif %} value="50">50 éléments par page</option>
                                                        <option {% if app.request.get('limit')=='100' %}selected{% endif %} value="100">100 éléments par page</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div class="radio">
                                                                    <label>
                                                                        <input {{app.request.get('stockable')==2?'checked':''}} type="radio" name="stockable" value="2">
                                                                        <em class="label label-primary">
                                                                            Stockable
                                                                        </em>
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                        <input {{app.request.get('stockable')==1?'checked':''}} type="radio" name="stockable" value="1">
                                                                        <em class="label label-default">
                                                                            Non Stockable
                                                                        </em>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" {% if app.request.get('alertStock') %}checked{% endif %} name="alertStock" id="alertStock">
                                                                    <em class="label label-warning">
                                                                        en alert de stock
                                                                    </em>

                                                                </label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" {% if app.request.get('ruptureStock') %}checked{% endif %} name="ruptureStock" id="ruptureStock">
                                                                    <em class="label label-danger">
                                                                        en rupture de stock
                                                                    </em>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-filter"></span> Filtrer</button>
                                        <a href="{{path('article_index')}}" class="btn btn-default"><span class="glyphicon glyphicon-filter"></span> Reinitialiser</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <table width="100%" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 125px;">{{ knp_pagination_sortable(pagination, 'Code'|trans({}, 'messages') , 'a.code') }}</th>
                                    <th style="width: 300px;" {% if pagination.isSorted('a.designation') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Désignation', 'a.designation') }}</th>
                                    <th style="width: 265px;" class="sorted">{{ knp_pagination_sortable(pagination, 'Catégorie', 'cat.libelle') }}</th>
                                    <th style="width: 125px;" {% if pagination.isSorted('a.qteEnStock') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Stock', 'a.qteEnStock') }}</th>
                                    <th style="width: 125px;" {% if pagination.isSorted('a.seuilAlert') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, "Seuil d'alert", 'a.seuilAlert') }}</th>
                                    <th style="width: 125px;" {% if pagination.isSorted('a.prixAchat') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Prix Achat', 'a.prixAchat') }}</th>
                                    <th style="width: 125px;" {% if pagination.isSorted('a.prixVenteTtc') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Prix Vente Ttc', 'a.prixVenteTtc') }}</th>
                                    <th style="width: 260px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for article in pagination %}
                                    <tr>
                                        <td>{{ article.code }}</td>
                                        <td>{{ article.designation }}</td>
                                        <td>{{ article.categorie }}</td>
                                        <td>
                                            {% if article.stockable %}
                                                {% set labelColor='success' %}
                                                {% if article.qteEnStock<=0 %}
                                                    {% set labelColor='danger' %}
                                                {% elseif article.qteEnStock<=article.seuilAlert %}
                                                    {% set labelColor='warning' %}
                                                {% endif %}
                                                <em class="label label-{{ labelColor }}">
                                                    {{ article.qteEnStock?article.qteEnStock:'0' }}
                                                </em>
                                            {% else %}
                                                <em class="label label-default">
                                                    Non stockable
                                                </em>
                                            {% endif %}
                                        </td>
                                        <td>{{ article.seuilAlert }}</td>
                                        <td>{{ article.prixAchat }}</td>
                                        <td>{{ article.prixVenteTtc }}</td>
                                        <td>
                                            <a class="btn btn-success btn-xs" href="{{ path('article_show', { 'id': article.id }) }}"><span class="glyphicon glyphicon-eye-open"></span> Afficher</a>
                                            <a class="btn btn-primary btn-xs" href="{{ path('article_edit', { 'id': article.id }) }}"><span class="glyphicon glyphicon-edit"></span> Modifier</a>
                                            <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal{{article.id}}">
                                                <span class="glyphicon glyphicon-remove"></span> Supprimer
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal{{article.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title" id="myModalLabel">{{ article }}</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            Voulez-vous supprimer cette article
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                            <a href="{{ path('article_delete', { 'id': article.id }) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Supprimer</a>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="{{ path('article_export_xls',{
                            'alertStock':app.request.get('alertStock'),
                            'stockable':app.request.get('stockable'),
                            'ruptureStock':app.request.get('ruptureStock'),
                            'code':app.request.get('code'),
                            'designation':app.request.get('designation'),
                            'categorie':app.request.get('categorie'),
                            'famille':app.request.get('famille'),
                            'sousfamille':app.request.get('sousfamille')
                             } )}}" class="btn btn-default">
                            <span class="glyphicon glyphicon-download-alt"></span> Exporter en Excel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        table {
            table-layout: fixed;
            width: 100%;
        }
        table td {
            word-wrap: break-word;         /* All browsers since IE 5.5+ */
            overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function initFamille() {
            jQuery('#appbundle_article_famille').closest('.bootstrap-select').replaceWith("<select id='appbundle_article_famille' name='famille' class='form-control selectpicker' data-live-search='true'><option></option></select>");
        }
        function initSousFamille() {
            jQuery('#appbundle_article_sousfamille').closest('.bootstrap-select').replaceWith("<select id='appbundle_article_sousfamille' name='sousfamille' class='form-control selectpicker' data-live-search='true'><option></option></select>");
        }
        function changeFamilleByCategorie($field) {
            let data = {};
            data[$field.attr('name')] = $field.val();//categorie=val
            // this route is in famille controller
            jQuery.get('{{ path("famille_categorie_api") }}', data).then(function (data) {
                if (data.success) {
                    var familles = jQuery.parseJSON(data.familles);
                    familles.forEach(myFunction);
                    function myFunction(item, index) {
                        var id = "{{ app.request.get('famille') }}";
                        var selected = id == item.id ? 'selected' : '';
                        jQuery('#appbundle_article_famille').append('<option ' + selected + ' value="' + item.id + '">' + item.libelle + '</option>');
                        jQuery('#appbundle_article_famille').selectpicker('refresh');
                    }
                } else {
                    alert(data.content);
                }
            });
            jQuery('.selectpicker').selectpicker('refresh');
        }
        initFamille();
        changeFamilleByCategorie(jQuery('#appbundle_article_categorie'));
        jQuery(document).on('change', '#appbundle_article_categorie', function () {
            initFamille();
            initSousFamille();
            let $field = jQuery(this);//this categorie
            // Les données à envoyer en Ajax
            changeFamilleByCategorie($field);
        });
        function changeSousFamilleByFamille($field) {
            let data = {};
            data[$field.attr('name')] = $field.val() ? $field.val() : "{{ app.request.get('famille') }}"; //famille=val
            // this route is in famille controller
            jQuery.get('{{ path("sousfamille_famille_api") }}', data).then(function (data) {
                if (data.success) {
                    var sousfamilles = jQuery.parseJSON(data.sousfamilles);
                    sousfamilles.forEach(myFunction);
                    function myFunction(item, index) {
                        var id = "{{ app.request.get('sousfamille') }}";
                        var selected = id == item.id ? 'selected' : '';
                        jQuery('#appbundle_article_sousfamille').append('<option ' + selected + ' value="' + item.id + '">' + item.libelle + '</option>');
                        jQuery('#appbundle_article_sousfamille').selectpicker('refresh');
                    }
                } else {
                    alert(data.content);
                }
            });
            jQuery('.selectpicker').selectpicker('refresh');
        }
        changeSousFamilleByFamille(jQuery('#appbundle_article_famille'));
        jQuery(document).on('change', '#appbundle_article_famille', function () {
            initSousFamille();
            let $field = jQuery(this);//this famille
            // Les données à envoyer en Ajax
            changeSousFamilleByFamille($field);
        });
        var myVar = setInterval(myTimer, 2000);
        function myTimer() {
            var x = document.readyState;
            if (x === 'complete') {
                document.getElementById('loader').style.display = 'none';
                jQuery('.container-fluid').removeAttr("style");
            }
        }

    </script>
{% endblock %}
